<div class="col-md-40 mb-3">
    <div class="card h-100">
        <div class="card-body">
            <h2 class="card-title">Blonde Ale</h2>
            <p class="card-subtitle ">Color: De amarillo intenso a dorado intenso.</p>
            <br> 
            <p class="card-subtitle ">Claridad: Generalmente muy clara.</p>
            <br>
            <p class="card-subtitle ">Espuma: Abundante, blanca, cremosa y persistente.</p>
        </div>
        <div class="card-footer"><a class="btn btn-dark btn-sm" href="{% url 'Home:tipo1_card_detalle' %}">Ampliar</a></div>
    </div>
</div>
<div class="col-md-40 mb-3">
    <div class="card h-100">
        <div class="card-body">
            <h2 class="card-title">Scottish</h2>
            <p class="card-subtitle ">Color: De ámbar a castaño oscuro.</p>
            <br> 
            <p class="card-subtitle ">Claridad: Algo de turbidez es aceptable a bajas temperaturas.</p>
            <br>
            <p class="card-subtitle ">Espuma: Corona cremosa de color crudo de tamaño entre bajo y moderado.</p>
        </div>
        <div class="card-footer"><a class="btn btn-dark  btn-sm" href="{% url 'Home:tipo2_card_detalle' %}">Ampliar</a></div>
    </div>
</div>
<div class="col-md-40 mb-3">
    <div class="card h-100">
        <div class="card-body">
            <h2 class="card-title">Oatmeal Stout</h2>
            <p class="card-subtitle ">Color: Desde el marrón rojizo muy oscuro de las versiones más clásicas al negro en los ejemplos actuales.</p>
            <br>
            <p class="card-subtitle ">Claridad: Generalmente opaca. Si la claridad es apreciable se acepta turbidez a bajas temperaturas.</p>
            <br>
            <p class="card-subtitle ">Espuma: Corona de bien formada de color marrón claro a marrón oscuro. Su persistencia puede ser baja.</p>
        </div>
        <div class="card-footer"><a class="btn btn-dark  btn-sm" href="{% url 'Home:tipo3_card_detalle' %}">Ampliar</a></div>
    </div>
</div>
<div class="col-md-40 mb-3">
    <div class="card h-100">
        <div class="card-body">
            <h2 class="card-title">APA</h2>
            <p>Color: Dorado a ámbar.</p>
            <br>
            <p>Claridad: Cerveza clara.</p>
            <br>
            <p>Espuma: Corona de tamaño medio a grande, con buena retención de color blanco a blanco roto.</p>
            
        </div>
        <div class="card-footer"><a class="btn btn-dark  btn-sm" href="{% url 'Home:tipo4_card_detalle' %}">Ampliar</a></div>
    </div>
</div>
<div class="col-md-40 mb-3">
    <div class="card h-100">
        <div class="card-body">
            <h2 class="card-title">IPA</h2>
            <p>Color: Dorado a cobrizo.</p>
            <br>
            <p>Claridad: Cerveza clara, si bien la turbidez es aceptable, especialmente a bajas temperaturas.</p>
            <br>
            <p>Espuma: Corona de tamaño medio, persistente de color blanco a blanco roto.</p>
        </div>
        <div class="card-footer"><a class="btn btn-dark  btn-sm" href="{% url 'Home:tipo5_card_detalle' %}">Ampliar</a></div>
    </div>
</div>