{% extends 'Home/base.html' %}
{% load static %}

{% block BASE_CONTENIDO %}

    <div class="row align-items-center my-5">
        <h1 class="pb-lg-3 text-bg-light">
            {% block INDEX_TITULO %}
                Página de inicio
            {% endblock INDEX_TITULO %}
        </h1>
    </div>

    {% block INDEX_CONTENIDO %}

    
        {% if user.is_authenticated %}
            {{ mensaje }}
            <h3> Bienvenido {{ user.username }}</h3>
        {% endif %}

        {% if user.is_staff %}
            <div class="row">
                <a href="{% url 'admin:index' %}" class="btn btn-outline-dark">Panel de Administración</a>
            </div>
            <div class="row">
                <a href="{% url 'Home:register' %}" class="btn btn-outline-dark">Registrar nuevo vendedor</a>
            </div>
        {% endif %}


        <!-- Heading Row-->
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'Home/img/TOSKA.png' %}" alt="..." /></div>
            <div class="col-lg-5">
                <h1 class="font-weight-light">TOSKA Cerveza Artesanal</h1>
                <p>TOSKA es un startup relativamente nuevo.</p>
                <p>Nos dedicamos a la produccion y venta de cerveza artesanal</p>
                <p>Producimos la mejor birra de Cordoba</p>
                <a class="btn btn-dark " href="https://wa.me/3546515530" target="_blank">WhatsApp</a>
            </div>
        </div>

        <!-- Content Row-->
        <div class="row gx-4 gx-lg-5">

            <div class="row gx-4 gx-lg-5">
                {% include 'home/card.html' with card="Estilos"%}
            </div>
    {% endblock INDEX_CONTENIDO %}

{% endblock BASE_CONTENIDO %}