{% extends 'venta/index.html' %}

{% block INDEX_TITULO %} 
    Detalle Ventas
{% endblock INDEX_TITULO %}

{% block INDEX_CONTENIDO %}
    
    <ul>
        <li>Vendedor: {{ object.vendedor }} </li>
        <li>Producto: {{ object.producto }} </li>
        <li>Cantidad: {{ object.cantidad }} </li>
        <li>Precio total: {{ object.precio_total }} </li>
        <li>Fecha venta: {{ object.fecha_venta }} </li>
        <li>Cliente : {{ object.cliente }} </li>


    </ul>
    
    {% include 'Home/index_back.html' %}
{% endblock INDEX_CONTENIDO %}